<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16790643458-eo40od2s72la4cg9emd2se7i6r5afti1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16790643458-eo40od2s72la4cg9emd2se7i6r5afti1</string>
	<key>API_KEY</key>
	<string>AIzaSyBIK9Q2YzLzTEOmDPLbKkC_SP0iZB1-ptY</string>
	<key>GCM_SENDER_ID</key>
	<string>16790643458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecademy.academyApp</string>
	<key>PROJECT_ID</key>
	<string>khebra-4e27f</string>
	<key>STORAGE_BUCKET</key>
	<string>khebra-4e27f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16790643458:ios:d1262d84090c77bc8d981b</string>
</dict>
</plist>